node_modules
.turbo
.next
dist
coverage
*.tsbuildinfo
.env
.env.local
.env.*.local
*.log
.DS_Store
superdev/
pem-file/
*.pem
packages/shared/src/*.d.ts
packages/shared/src/*.js
packages/shared/src/*.js.map
